# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# CLI configuration files
.terraformrc
terraform.rc

# Override files (e.g. local overrides)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive variable files
*.tfvars
*.tfvars.json

# Ignore any backup files
*.backup

# Ignore plan output files
*.tfplan